*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color:azure

}
label
{
    cursor: pointer;
}
.content
{
    max-height: 0;
}
.invisible
{
    display: none;
}
label
{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(184, 181, 181);

}
label:hover
{
    background-color:cornflowerblue;
}
input:checked ~ label img
{
    max-height: 100vh;
}
img
{
    transition: 0.5s;
}
span
{
    font-size: 5vw;
}